@import "/src/styles.scss";

.info-root{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: $dashboard-section-padding;
    width: 50%;
}

.preview{
    left: 10%;
    min-width: 80%;
    min-height: 55%;
}

.detail-card{
    background-color: $header-color !important;
}

.detail-field{
    display: flex;
}

.detail-heading{
    color: #c8c8c8;
    font-weight: 600;
    width: 30%;
}

.detail-data{
    width: 70%;
}

.link-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link-icon{
    margin: 6px 4px 0px;
    font-size: 0.75em;
}

.summary-tab{
    position: absolute;
    bottom: 0;
    left: 40%;
    width: 20%;
    display: flex;
    justify-content: center;
}

.summary-root{
    background-color: $header-color !important;
}